BODY {
    TEXT-ALIGN: center;
    MARGIN: 0px;
    FONT-SIZE: 12px
}

TD {
    FONT-SIZE: 12px
}

P {
    FONT-SIZE: 12px
}

OPTION {
    FONT-SIZE: 12px
}

INPUT {
    FONT-SIZE: 12px
}

LI {
    FONT-SIZE: 12px
}

TABLE {
    TEXT-ALIGN: left
}

IMG {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

SELECT {
    COLOR: #999
}

INPUT {
    BORDER-BOTTOM: #a1a1a1 1px solid;
    BORDER-LEFT: #a1a1a1 1px solid;
    COLOR: #999;
    BORDER-TOP: #a1a1a1 1px solid;
    BORDER-RIGHT: #a1a1a1 1px solid
}

A {
    COLOR: #ff0000;
    TEXT-DECORATION: none
}

A:link {
    COLOR: #000000;
    FONT-SIZE: 12px
}

A:visited {
    COLOR: #000000;
    FONT-SIZE: 12px
}

A:hover {
    COLOR: #d2191e;
    FONT-SIZE: 12px;
    TEXT-DECORATION: underline
}

A:active {
    COLOR: #000000;
    FONT-SIZE: 12px
}

.a02:link {
    COLOR: #164cae;
    FONT-SIZE: 12px
}

.a02:visited {
    COLOR: #164cae;
    FONT-SIZE: 12px
}

.a02:hover {
    COLOR: #fe5a01;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.a02:active {
    COLOR: #fe5a01;
    FONT-SIZE: 12px
}

.a03:link {
    COLOR: #000000;
    FONT-SIZE: 12px
}

.a03:visited {
    COLOR: #000000;
    FONT-SIZE: 12px
}

.a03:hover {
    COLOR: #fe5a01;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.a03:active {
    COLOR: #fe5a01;
    FONT-SIZE: 12px
}

.input {
    BORDER-BOTTOM: #9e9e9e 1px solid;
    BORDER-LEFT: #9e9e9e 1px solid;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    WIDTH: 150px;
    HEIGHT: 13px;
    COLOR: #8f8f8f;
    FONT-SIZE: 12px;
    BORDER-TOP: #9e9e9e 1px solid;
    BORDER-RIGHT: #9e9e9e 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 1px
}

.button33 {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 2px;
    WIDTH: 40px;
    LETTER-SPACING: 1px;
    HEIGHT: 18px;
    COLOR: #000000;
    FONT-SIZE: 12px;
    BORDER-TOP: #cccccc 1px solid;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #cccccc 1px solid;
    PADDING-TOP: 1px
}

.tablepad tbody tr td{
    padding-left:5px;
    padding-right:5px
}
.font_orange {
    COLOR: #fe5a01;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_black {
    LINE-HEIGHT: 16px;
    COLOR: #000000;
    FONT-SIZE: 12px
}

.font_black1 {
    COLOR: #000000;
    FONT-SIZE: 12px
}

.font_black2 {
    LINE-HEIGHT: 14px;
    COLOR: #000;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.font_navigate {
    COLOR: #000;
    FONT-SIZE: 12px
}

.font_navigate2 {
    COLOR: #727272;
    FONT-SIZE: 12px
}

.font_title {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 22px;
    COLOR: #fe5a01;
    FONT-SIZE: 14px;
    VERTICAL-ALIGN: top;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.font_content {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    COLOR: #000;
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

.font_kafei {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 20px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    COLOR: #813a0d;
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

.font_menu {
    LINE-HEIGHT: 20px;
    LETTER-SPACING: 4px;
    COLOR: #205da8;
    FONT-SIZE: 12px
}

.font_blue {
    LINE-HEIGHT: 20px;
    COLOR: #000000;
    FONT-SIZE: 12px
}

.td_height7 {
    PADDING-TOP: 7px
}

.font_content_index {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 18px;
    PADDING-LEFT: 6px;
    PADDING-RIGHT: 0px;
    COLOR: #000000;
    FONT-SIZE: 12px;
    PADDING-TOP: 0px
}

.input150 {
    BORDER-BOTTOM: #464646 1px solid;
    BORDER-LEFT: #464646 1px solid;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    WIDTH: 150px;
    HEIGHT: 12px;
    COLOR: #333;
    FONT-SIZE: 12px;
    BORDER-TOP: #464646 1px solid;
    BORDER-RIGHT: #464646 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 3px
}

.input_blue {
    BORDER-BOTTOM: #295e9f 1px solid;
    BORDER-LEFT: #295e9f 1px solid;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    WIDTH: 150px;
    HEIGHT: 12px;
    COLOR: #464646;
    FONT-SIZE: 12px;
    BORDER-TOP: #295e9f 1px solid;
    BORDER-RIGHT: #295e9f 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 3px
}

.input195 {
    BORDER-BOTTOM: #464646 1px solid;
    BORDER-LEFT: #464646 1px solid;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    WIDTH: 195px;
    HEIGHT: 16px;
    COLOR: #333;
    FONT-SIZE: 12px;
    BORDER-TOP: #464646 1px solid;
    BORDER-RIGHT: #464646 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 1px
}

.input1 {
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    WIDTH: 150px;
    HEIGHT: 13px;
    COLOR: #000000;
    FONT-SIZE: 12px;
    BORDER-TOP: #cccccc 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 1px
}

.input2 {
    BORDER-BOTTOM: #464646 1px solid;
    BORDER-LEFT: #464646 1px solid;
    BACKGROUND-COLOR: #fff;
    PADDING-LEFT: 3px;
    HEIGHT: 16px;
    COLOR: #333;
    FONT-SIZE: 12px;
    BORDER-TOP: #464646 1px solid;
    BORDER-RIGHT: #464646 1px solid;
    TEXT-DECORATION: none;
    PADDING-TOP: 1px
}

.font_blod {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 22px;
    COLOR: #fe5a01;
    FONT-SIZE: 12px;
    VERTICAL-ALIGN: top;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.font_white {
    COLOR: #ffffff;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.button {
    BACKGROUND-IMAGE: url(../images/b1.gif);
    BORDER-BOTTOM: #333 0px;
    BORDER-LEFT: #333 0px;
    MARGIN: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 43px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: "����", Arial;
    BACKGROUND-POSITION: 50% bottom;
    LETTER-SPACING: 1px;
    HEIGHT: 20px;
    COLOR: #225dab;
    FONT-SIZE: 12px;
    BORDER-TOP: #333 0px;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #333 0px;
    PADDING-TOP: 2px
}

.button2 {
    BACKGROUND-IMAGE: url(../images/b1.gif);
    BORDER-BOTTOM: #333 0px;
    BORDER-LEFT: #333 0px;
    MARGIN: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 43px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: "����", Arial;
    BACKGROUND-POSITION: 50% bottom;
    LETTER-SPACING: 1px;
    HEIGHT: 20px;
    COLOR: #555555;
    FONT-SIZE: 12px;
    BORDER-TOP: #333 0px;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #333 0px;
    PADDING-TOP: 2px
}

.button3 {
    BACKGROUND-IMAGE: url(../images/b1.gif);
    BORDER-BOTTOM: #333 0px;
    BORDER-LEFT: #333 0px;
    MARGIN: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 90px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: "����", Arial;
    BACKGROUND-POSITION: 50% bottom;
    LETTER-SPACING: 1px;
    HEIGHT: 20px;
    COLOR: #555555;
    FONT-SIZE: 12px;
    BORDER-TOP: #333 0px;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #333 0px;
    PADDING-TOP: 2px
}

.button_red {
    BACKGROUND-IMAGE: url(../images/b1_red.gif);
    BORDER-BOTTOM: #333 0px;
    BORDER-LEFT: #333 0px;
    MARGIN: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 90px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: "����", Arial;
    BACKGROUND-POSITION: 50% bottom;
    LETTER-SPACING: 1px;
    HEIGHT: 20px;
    COLOR: #555555;
    FONT-SIZE: 12px;
    BORDER-TOP: #333 0px;
    FONT-WEIGHT: normal;
    BORDER-RIGHT: #333 0px;
    PADDING-TOP: 2px
}

.button_blue {
    BACKGROUND-IMAGE: url(../images/b8.gif);
    BORDER-BOTTOM: #333 0px;
    BORDER-LEFT: #333 0px;
    MARGIN: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 85px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: "����", Arial;
    BACKGROUND-POSITION: 50% bottom;
    LETTER-SPACING: 1px;
    HEIGHT: 20px;
    COLOR: #ffffff;
    FONT-SIZE: 12px;
    BORDER-TOP: #333 0px;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #333 0px;
    PADDING-TOP: 2px
}

.button_blue2 {
    BACKGROUND-IMAGE: url(../images/b9.gif);
    BORDER-BOTTOM: #333 0px;
    BORDER-LEFT: #333 0px;
    MARGIN: 0px;
    PADDING-LEFT: 2px;
    WIDTH: 96px;
    BACKGROUND-REPEAT: repeat-x;
    FONT-FAMILY: "����", Arial;
    BACKGROUND-POSITION: 50% bottom;
    LETTER-SPACING: 1px;
    HEIGHT: 20px;
    COLOR: #ffffff;
    FONT-SIZE: 12px;
    BORDER-TOP: #333 0px;
    FONT-WEIGHT: bold;
    BORDER-RIGHT: #333 0px;
    PADDING-TOP: 2px
}

.font_green {
    COLOR: #727272;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_red {
    COLOR: #ff0000;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_red_14 {
    COLOR: #ff0000;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_yellow {
    COLOR: #727272;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_light_blue {
    COLOR: #add5f8;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.select {
    HEIGHT: 16px;
    COLOR: #6b6b6b;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_blue3 {
    COLOR: #4b9ccf;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_blue_14px {
    COLOR: #eb2121;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_green2 {
    COLOR: #727272;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_orange14px {
    COLOR: #727272;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_green14px {
    COLOR: #727272;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_white_14px {
    COLOR: #ffffff;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_grey_14px {
    COLOR: #727272;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_light_grey_14px {
    COLOR: #727272;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_tuhuang {
    COLOR: #ffcc00;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_blue4_14px {
    COLOR: #000;
    FONT-SIZE: 14px;
    TEXT-DECORATION: none
}

.font_blue4 {
    COLOR: #5ad2f4;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_orange2 {
    COLOR: #ff9900;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.font_blue5 {
    COLOR: #0c87cd;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.table_board1 {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.table_board2 {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.table_board3 {
    BACKGROUND: #fff
}

.table_board3 {
    BORDER-BOTTOM: 0px;
    BORDER-LEFT: 0px;
    COLOR: #333;
    BORDER-TOP: 0px;
    BORDER-RIGHT: 0px
}

.line {
    BORDER-BOTTOM: #cccccc 1px dotted
}

.in_ta {
    BORDER-TOP: #d71920 10px solid
}

.in_ta1 {
    BACKGROUND: url(../images/in_7.jpg) no-repeat
}

.in_ta2 {
    BORDER-BOTTOM: #ccc 1px dotted
}

.in_ta5 {
    BORDER-TOP: #ccc 1px dotted
}

.in_ta3 {
    MARGIN-TOP: 5px
}

.in_ta4 TD {
    LINE-HEIGHT: 16px
}

.inpu_1 {
    BORDER-BOTTOM: #9e9e9e 1px solid;
    BORDER-LEFT: #9e9e9e 1px solid;
    BACKGROUND-COLOR: #fff;
    BORDER-TOP: #9e9e9e 1px solid;
    BORDER-RIGHT: #9e9e9e 1px solid
}

.table_1 {
    BORDER-BOTTOM: #ccc 1px solid;
    BORDER-LEFT: #ccc 1px solid;
    BORDER-TOP: #ccc 1px solid;
    BORDER-RIGHT: #ccc 1px solid
}

.line20 {
    LINE-HEIGHT: 20px
}

.line20 TD {
    LINE-HEIGHT: 20px
}

.table_hezuo TD {
    PADDING-LEFT: 15px
}

.inupt_he {
    BORDER-BOTTOM: #ccc 1px solid;
    BORDER-LEFT: #ccc 1px solid;
    WIDTH: 150px;
    HEIGHT: 14px;
    BORDER-TOP: #ccc 1px solid;
    BORDER-RIGHT: #ccc 1px solid
}

.td_height {
    LINE-HEIGHT: 20px
}

.pad10 {
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 10px
}

.ta_pa10 TD A {
    PADDING-RIGHT: 20px
}

.top_pat5 {
    PADDING-TOP: 5px
}

.top_font {
    COLOR: #5e5e5e
}

.a04:link {
    COLOR: #5e5e5e;
    FONT-SIZE: 12px
}

.a04:visited {
    COLOR: #5e5e5e;
    FONT-SIZE: 12px
}

.a04:hover {
    COLOR: #fe5a01;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.a04:active {
    COLOR: #fe5a01;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none
}

.input_top {
    BORDER-BOTTOM: #e5e5e5 1px solid;
    BORDER-LEFT: #e5e5e5 1px solid;
    LINE-HEIGHT: 18px;
    BACKGROUND-COLOR: #fff;
    PADDING-LEFT: 5px;
    WIDTH: 150px;
    HEIGHT: 18px;
    COLOR: #8f8f8f;
    FONT-SIZE: 12px;
    BORDER-TOP: #e5e5e5 1px solid;
    BORDER-RIGHT: #e5e5e5 1px solid
}

.table_news1 {
    BACKGROUND: #eee
}

.table_news1 TH {
    TEXT-ALIGN: center;
    BACKGROUND: url(../images/newPage_05.gif) repeat-x;
    HEIGHT: 26px;
    COLOR: #eb2121
}

.table_news1 TD {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 25px;
    BACKGROUND: #fff;
    HEIGHT: 25px;
    COLOR: #333
}

.table_news2 {
    WIDTH: 95%
}

.table_news2 TD {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 24px;
    HEIGHT: 24px;
    COLOR: #333;
    VERTICAL-ALIGN: top
}

.td_news1 {
    BACKGROUND: #f1f1f1;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.select_news1 {
    BORDER-BOTTOM: #e5e5e5 1px solid;
    BORDER-LEFT: #e5e5e5 1px solid;
    LINE-HEIGHT: 15px;
    HEIGHT: 15px;
    COLOR: #5e5e5e;
    FONT-SIZE: 12px;
    BORDER-TOP: #e5e5e5 1px solid;
    BORDER-RIGHT: #e5e5e5 1px solid
}

.margin_10 {
    MARGIN-TOP: 10px;
    MARGIN-BOTTOM: 10px
}

.kf_tab {
    BORDER-BOTTOM: #cbcbcd 1px solid;
    BORDER-LEFT: #cbcbcd 1px solid;
    BACKGROUND: #f5f5f5;
    HEIGHT: 32px;
    BORDER-TOP: #cbcbcd 1px solid;
    BORDER-RIGHT: #cbcbcd 1px solid
}

.tbmr {
    MARGIN-RIGHT: 3px
}

.topjx {
    MARGIN-TOP: 1px
}

.topjx TD {
    LINE-HEIGHT: 23px;
    HEIGHT: 23px
}

.cstext {
    COLOR: #ff5400;
    FONT-SIZE: 13px
}

.topjx TD.sytd {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 26px;
    PADDING-LEFT: 20px;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 26px;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold
}

.topjx A {
    COLOR: #000;
    TEXT-DECORATION: underline
}

.topjx TD.lineh {
    HEIGHT: 1px
}

.tdspan {
    COLOR: #d6191f
}

.tdspan A {
    COLOR: #d6191f
}

.cjwt LI {
    TEXT-ALIGN: left;
    MARGIN: 0px;
    WIDTH: 90px;
    FLOAT: left
}

.cjwt UL {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 20px;
    LIST-STYLE-TYPE: none;
    MARGIN: 0px;
    PADDING-LEFT: 20px;
    WIDTH: 385px;
    DISPLAY: inline;
    FLOAT: left;
    LIST-STYLE-IMAGE: none
}

.cjwt A {
    COLOR: #eb2121
}

.dszq LI {
    TEXT-ALIGN: left;
    WIDTH: 90px;
    FLOAT: left
}

.dszq UL {
    TEXT-ALIGN: left;
    LINE-HEIGHT: 25px;
    LIST-STYLE-TYPE: none;
    WIDTH: 450px;
    DISPLAY: inline;
    FLOAT: left;
    LIST-STYLE-IMAGE: none
}

.sszq LI {
    TEXT-ALIGN: left;
    WIDTH: 65px;
    FLOAT: left
}

.sszq UL {
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 30px;
    LINE-HEIGHT: 30px;
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 25px;
    WIDTH: 520px;
    DISPLAY: inline;
    FLOAT: left;
    LIST-STYLE-IMAGE: none
}

.dszq2 LI {
    TEXT-ALIGN: left;
    WIDTH: 70px;
    FLOAT: left
}

.dszq2 UL {
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 40px;
    LINE-HEIGHT: 25px;
    LIST-STYLE-TYPE: none;
    MARGIN-TOP: 10px;
    WIDTH: 350px;
    DISPLAY: inline;
    FLOAT: left;
    LIST-STYLE-IMAGE: none
}

.IN {
    BORDER-BOTTOM: #afaeae 1px solid;
    BORDER-LEFT: #afaeae 1px solid;
    FONT-FAMILY: "verdana";
    COLOR: #7b7b7b;
    FONT-SIZE: 10pt;
    BORDER-TOP: #afaeae 1px solid;
    BORDER-RIGHT: #afaeae 1px solid
}

.selectBoxSelectedArea {
    LINE-HEIGHT: 17px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    COLOR: #000000;
    FONT-SIZE: 12px;
    PADDING-TOP: 1px
}

.selectBoxSelectedAreaFocus {
    LINE-HEIGHT: 17px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    COLOR: #333333;
    FONT-SIZE: 12px;
    PADDING-TOP: 1px
}

.selectBoxOption {
    LINE-HEIGHT: 17px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    COLOR: #000000;
    FONT-SIZE: 12px;
    PADDING-TOP: 2px
}

.selectBoxOptionOver {
    LINE-HEIGHT: 17px;
    BACKGROUND-COLOR: #ffffff;
    PADDING-LEFT: 3px;
    COLOR: #333333;
    FONT-SIZE: 12px;
    PADDING-TOP: 2px
}

.selectBoxOptionInnerLayer {
    SCROLLBAR-ARROW-COLOR: #838383;
    BORDER-BOTTOM: #b4b4b4 1px solid;
    BORDER-LEFT: #b4b4b4 1px solid;
    SCROLLBAR-FACE-COLOR: #ffffff;
    BACKGROUND-COLOR: #ffffff;
    SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
    SCROLLBAR-HIGHLIGHT-COLOR: #b4b4b4;
    SCROLLBAR-SHADOW-COLOR: #b4b4b4;
    OVERFLOW: auto;
    BORDER-TOP: #b4b4b4 1px solid;
    SCROLLBAR-TRACK-COLOR: #eaeaea;
    BORDER-RIGHT: #b4b4b4 1px solid;
    SCROLLBAR-3DLIGHT-COLOR: #ffffff
}

.sty_input {
    BORDER-BOTTOM: #9e9e9e 1px solid;
    BORDER-LEFT: #9e9e9e 1px solid;
    LINE-HEIGHT: 19px;
    WIDTH: 100px;
    HEIGHT: 19px;
    COLOR: #777;
    FONT-SIZE: 12px;
    BORDER-TOP: #9e9e9e 1px solid;
    BORDER-RIGHT: #9e9e9e 1px solid
}

.top_t {
    MARGIN: 0px
}

.border_l_r {
    TEXT-ALIGN: center;
    BORDER-LEFT: #e6e6e6 1px solid
}

.table_news3 {
    BORDER-BOTTOM: #bbc5c8 1px solid;
    BORDER-LEFT: #bbc5c8 1px solid;
    WIDTH: 98%
}

.table_news3 TD {
    TEXT-ALIGN: center;
    LINE-HEIGHT: 25px;
    PADDING-LEFT: 2px;
    HEIGHT: 25px;
    COLOR: #333;
    BORDER-TOP: #bbc5c8 1px solid;
    BORDER-RIGHT: #bbc5c8 1px solid
}

.td_news3 {
    BORDER-LEFT: #fff 1px solid;
    LINE-HEIGHT: 25px;
    BACKGROUND: #eeeeee;
    HEIGHT: 25px;
    BORDER-TOP: #fff 1px solid;
    FONT-WEIGHT: bold
}

.newTopBg {
    LINE-HEIGHT: 32px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right top
}

.newsTitleBlack {
    COLOR: #000;
    FONT-WEIGHT: bold
}

.newi_input {
    LINE-HEIGHT: 18px;
    WIDTH: 124px;
    HEIGHT: 18px
}

INPUT.newButbg {
    BORDER-BOTTOM: 0px;
    TEXT-ALIGN: center;
    BORDER-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-LEFT: 0px;
    WIDTH: 48px;
    PADDING-RIGHT: 0px;
    BACKGROUND: url(/images/newButbg.gif) no-repeat;
    HEIGHT: 23px;
    COLOR: #000;
    FONT-SIZE: 12px;
    BORDER-TOP: 0px;
    CURSOR: pointer;
    BORDER-RIGHT: 0px;
    PADDING-TOP: 0px
}

.newTopBg03 {
    LINE-HEIGHT: 36px;
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: right 50%
}

.newTopUl UL {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 30px;
    MARGIN: 0px 0px 0px 3px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px
}

.newTopUl LI {
    PADDING-BOTTOM: 0px;
    LINE-HEIGHT: 30px;
    MARGIN: 0px;
    PADDING-LEFT: 3px;
    PADDING-RIGHT: 3px;
    FLOAT: left;
    COLOR: #fff;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    PADDING-TOP: 0px
}

.newTopUl A {
    COLOR: #fff;
    FONT-SIZE: 14px
}

.newTopUl A:hover {
    COLOR: #fff;
    FONT-SIZE: 14px
}

.newTopUl A:active {
    COLOR: #fff;
    FONT-SIZE: 14px
}

.newTopUl A:visited {
    COLOR: #fff;
    FONT-SIZE: 14px
}

.aa:link {
    COLOR: #fff;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.aa:visited {
    COLOR: #fff;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.aa:hover {
    COLOR: #fff;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none
}

.aa:active {
    COLOR: #fff;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}

.tableborder {
    BORDER-BOTTOM: #cc6666 1px solid;
    BORDER-LEFT: #cc6666 1px solid;
    BORDER-TOP: medium none;
    BORDER-RIGHT: #cc6666 1px solid
}

.pdle {

}

.pdle TD {
    TEXT-ALIGN: left;
    PADDING-LEFT: 25px;
    BACKGROUND: url(/images/icon_ay.gif) no-repeat left center
}

.btnimg {
    width: 43px;
    height: 22px;
}
#foot {
	width: 100%;
	margin: 20px auto 0;
	height: 60px;
	background-color: #DADADA;
	line-height: 20px;
	padding-top: 16px;
	border-top: 5px solid #C1C1C1;
	text-align: center;
}
