.gy {
	FILTER: Glow(Color=ffffff, Strength=3); LINE-HEIGHT: 150%; COLOR: #3366ff; FONT-SIZE: 10pt
}
.tittle {
	POSITION: relative; FILTER: glow(color=white,strength=0) shadow(color=gray,direction=110); LINE-HEIGHT: 30pt; WIDTH: 100%; COLOR: #ff3333; FONT-SIZE: 12pt; FONT-WEIGHT: bold
}
.font0 {
	LINE-HEIGHT: 11pt; FONT-SIZE: 9pt
}
.font1 {
	LINE-HEIGHT: 15pt; FONT-SIZE: 11pt
}
.f9 {
	LINE-HEIGHT: 135%; FONT-SIZE: 9pt
}
.f9a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 3pt; FONT-SIZE: 9pt
}
.f9b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 9pt
}
.f10 {
	LINE-HEIGHT: 150%; FONT-SIZE: 10pt
}
.f10a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 1pt; FONT-SIZE: 10pt
}
.f10b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 10pt
}
.f11 {
	LINE-HEIGHT: 150%; FONT-SIZE: 11pt
}
.f11a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 3pt; FONT-SIZE: 11pt
}
.f11b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 11pt
}
.f12 {
	LINE-HEIGHT: 150%; FONT-SIZE: 12pt
}
.f12a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 3pt; FONT-SIZE: 12pt
}
.f12b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 12pt
}
.f13 {
	LINE-HEIGHT: 150%; FONT-SIZE: 13pt
}
.f13a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 3pt; FONT-SIZE: 13pt
}
.f13b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 13pt
}
.f14 {
	LINE-HEIGHT: 150%; FONT-SIZE: 14pt
}
.f14a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 3pt; FONT-SIZE: 14pt
}
.f14b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 14pt
}
.f15 {
	LINE-HEIGHT: 150%; FONT-SIZE: 15pt
}
.f15a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 3pt; FONT-SIZE: 15pt
}
.f15b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 15pt
}
.f16 {
	LINE-HEIGHT: 150%; FONT-SIZE: 16pt
}
.f16a {
	LINE-HEIGHT: 150%; LETTER-SPACING: 3pt; FONT-SIZE: 16pt
}
.f16b {
	LINE-HEIGHT: 150%; LETTER-SPACING: 5pt; FONT-SIZE: 16pt
}
.tittle {
	POSITION: relative; FILTER: glow(color=white,strength=0) shadow(color=gray,direction=110); LINE-HEIGHT: 30pt; WIDTH: 100%; COLOR: #669933; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
.redtittle {
	POSITION: relative; FILTER: glow(color=white,strength=0) shadow(color=gray,direction=110); LINE-HEIGHT: 30pt; WIDTH: 100%; COLOR: #669933; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
STYLE .table_x {
	BORDER-BOTTOM: #333333 1px solid
}
.tablebottom {
	BORDER-BOTTOM: #333333 1px solid
}
.table2org {
	BORDER-BOTTOM: #ff9048 1px solid; BORDER-TOP: #ff9048 1px solid
}
.botton {
	BORDER-BOTTOM: rgb(201,177,239) 1px solid; BORDER-LEFT: rgb(201,177,239) 1px solid; BACKGROUND-COLOR: rgb(240,234,251); FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: rgb(201,177,239) 1px solid; BORDER-RIGHT: rgb(201,177,239) 1px solid
}
.bottonb {
	BORDER-BOTTOM: rgb(201,177,239) 1px solid; BORDER-LEFT: rgb(201,177,239) 1px solid; BACKGROUND-COLOR: rgb(240,234,251); COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: rgb(201,177,239) 1px solid; BORDER-RIGHT: rgb(201,177,239) 1px solid
}
.botton_b {
	BORDER-BOTTOM: #f78294 1px solid; BORDER-LEFT: #f78294 1px solid; BACKGROUND-COLOR: #ffbed6; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #f78294 1px solid; BORDER-RIGHT: #f78294 1px solid
}
.bottonm {
	BORDER-BOTTOM: rgb(201,177,239) 1px solid; BORDER-LEFT: rgb(201,177,239) 1px solid; BACKGROUND-COLOR: rgb(240,234,251); COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: rgb(201,177,239) 1px solid; BORDER-RIGHT: rgb(201,177,239) 1px solid
}
.botton_m {
	BORDER-BOTTOM: rgb(201,177,239) 1px solid; BORDER-LEFT: rgb(201,177,239) 1px solid; BACKGROUND-COLOR: rgb(240,234,251); FONT-FAMILY: Tahoma, Arial Black font-size: 9pt; COLOR: rgb(0,0,0); BORDER-TOP: rgb(201,177,239) 1px solid; BORDER-RIGHT: rgb(201,177,239) 1px solid
}
.bottonregisterred {
	BORDER-BOTTOM: rgb(255,128,131) 1px solid; BORDER-LEFT: rgb(255,128,131) 1px solid; BACKGROUND-COLOR: rgb(255,223,224); COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: rgb(255,128,131) 1px solid; BORDER-RIGHT: rgb(255,128,131) 1px solid
}
.botton_register_red {
	BORDER-BOTTOM: rgb(255,128,131) 1px solid; BORDER-LEFT: rgb(255,128,131) 1px solid; BACKGROUND-COLOR: rgb(255,223,224); FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: rgb(255,128,131) 1px solid; BORDER-RIGHT: rgb(255,128,131) 1px solid
}
.bottonregisteryel {
	BORDER-BOTTOM: #ffcc66 1px solid; BORDER-LEFT: #ffcc66 1px solid; BACKGROUND-COLOR: #ffffcc; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #ffcc66 1px solid; BORDER-RIGHT: #ffcc66 1px solid
}
.botton_register_yel {
	BORDER-BOTTOM: #ffcc66 1px solid; BORDER-LEFT: #ffcc66 1px solid; BACKGROUND-COLOR: #ffffcc; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #ffcc66 1px solid; BORDER-RIGHT: #ffcc66 1px solid
}
.bottongreen {
	BORDER-BOTTOM: #90d880 1px solid; BORDER-LEFT: #90d880 1px solid; BACKGROUND-COLOR: #d0f0c8; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #90d880 1px solid; BORDER-RIGHT: #90d880 1px solid
}
.botton_green {
	BORDER-BOTTOM: #90d880 1px solid; BORDER-LEFT: #90d880 1px solid; BACKGROUND-COLOR: #d0f0c8; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #90d880 1px solid; BORDER-RIGHT: #90d880 1px solid
}
.bottonred {
	BORDER-BOTTOM: #e87070 1px solid; BORDER-LEFT: #e87070 1px solid; BACKGROUND-COLOR: #f0c0c0; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #e87070 1px solid; BORDER-RIGHT: #e87070 1px solid
}
.botton_red {
	BORDER-BOTTOM: #e87070 1px solid; BORDER-LEFT: #e87070 1px solid; BACKGROUND-COLOR: #f0c0c0; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #e87070 1px solid; BORDER-RIGHT: #e87070 1px solid
}
.bottonblu {
	BORDER-BOTTOM: #6890e8 1px solid; BORDER-LEFT: #6890e8 1px solid; BACKGROUND-COLOR: #d0d8f8; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #6890e8 1px solid; BORDER-RIGHT: #6890e8 1px solid
}
.botton_blu {
	BORDER-BOTTOM: #6890e8 1px solid; BORDER-LEFT: #6890e8 1px solid; BACKGROUND-COLOR: #d0d8f8; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #6890e8 1px solid; BORDER-RIGHT: #6890e8 1px solid
}
.bottonblub {
	BORDER-BOTTOM: #6890e8 1px solid; BORDER-LEFT: #6890e8 1px solid; BACKGROUND-COLOR: #d0d8f8; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #6890e8 1px solid; BORDER-RIGHT: #6890e8 1px solid
}
.bottonblu2 {
	BORDER-BOTTOM: #6890e8 1px solid; BORDER-LEFT: #6890e8 1px solid; BACKGROUND-COLOR: rgb(210,233,255); COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #6890e8 1px solid; BORDER-RIGHT: #6890e8 1px solid
}
.botton_blu2 {
	BORDER-BOTTOM: #6890e8 1px solid; BORDER-LEFT: #6890e8 1px solid; BACKGROUND-COLOR: rgb(210,233,255); FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #6890e8 1px solid; BORDER-RIGHT: #6890e8 1px solid
}
.bottonblk {
	BORDER-BOTTOM: #484848 1px solid; BORDER-LEFT: #484848 1px solid; BACKGROUND-COLOR: #d0d0d0; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #484848 1px solid; BORDER-RIGHT: #484848 1px solid
}
.botton_blk {
	BORDER-BOTTOM: #484848 1px solid; BORDER-LEFT: #484848 1px solid; BACKGROUND-COLOR: #d0d0d0; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #484848 1px solid; BORDER-RIGHT: #484848 1px solid
}
.bottonyellow {
	BORDER-BOTTOM: #f8d060 1px solid; BORDER-LEFT: #f8d060 1px solid; BACKGROUND-COLOR: #fff0c8; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #f8d060 1px solid; BORDER-RIGHT: #f8d060 1px solid
}
.botton_yellow {
	BORDER-BOTTOM: #f8d060 1px solid; BORDER-LEFT: #f8d060 1px solid; BACKGROUND-COLOR: #fff0c8; FONT-FAMILY: "Tahoma", "Arial Black"; COLOR: rgb(0,0,0); FONT-SIZE: 9pt; BORDER-TOP: #f8d060 1px solid; BORDER-RIGHT: #f8d060 1px solid
}
.bottonorg {
	BORDER-BOTTOM: #ffa870 1px solid; BORDER-LEFT: #ffa870 1px solid; BACKGROUND-COLOR: #ffd0b8; FONT-FAMILY: Tahoma, Arial Black; COLOR: rgb(0,0,0); FONT-SIZE: 8pt; BORDER-TOP: #ffa870 1px solid; BORDER-RIGHT: #ffa870 1px solid
}
.botton_org {
	BORDER-BOTTOM: #ffa870 1px solid; BORDER-LEFT: #ffa870 1px solid; BACKGROUND-COLOR: #ffd0b8
}
A:link {
	COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: "����"; COLOR: #000000; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	FONT-FAMILY: "����"; COLOR: red; FONT-SIZE: 9pt; TEXT-DECORATION: underline
}
.taba {
	BORDER-BOTTOM: #75c5ff 2px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #c1e8ff; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 24px; FONT-SIZE: 9px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.tabc {
	BORDER-BOTTOM: #ffb033 2px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffd97d; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 24px; FONT-SIZE: 9px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.tabd {
	BORDER-BOTTOM: #abda47 2px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #d0ffa2; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 24px; FONT-SIZE: 9px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.tabb {
	BORDER-BOTTOM: #5fa3e7 2px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #89bbed; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; HEIGHT: 24px; FONT-SIZE: 9px; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
